<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Official Website Anlimitid Tech">
  <meta name="author" content="Abdul Aziz">

  <title>
    <%= title %>
  </title>
  <link rel="icon" type="image/x-icon" href="assets/anlimitid.ico">

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" defer>
  <link rel="stylesheet" href="vendor/fontawesome/css/all.min.css" defer>


  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="assets/css/templatemo-onix-digital.css">
  <link rel="stylesheet" href="assets/css/animated.css">
  <link rel="stylesheet" href="assets/css/owl.css">
  <style>
    a {
      color: inherit;
    }

    img {
      width: 100%;
      /* or max-width: 100%; */
      height: auto;
    }
  </style>
</head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="index.html" class="logo" aria-label="logo">
              <img src="assets/images/logo.png" alt="logo" height="50" width="50">
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="#top" data-i18n="nav.home" class="active"><!--Home--></a></li>
              <li class="scroll-to-section"><a href="#services" data-i18n="nav.services"><!--Services--></a></li>
              <li class="scroll-to-section"><a href="#about" data-i18n="nav.about"><!--About--></a></li>
              <li class="scroll-to-section"><a href="#portfolio" data-i18n="nav.portfolio"><!--Portfolio--></a></li>
              <li class="scroll-to-section"><a href="#testimony" data-i18n="nav.testimony"><!--Videos--></a></li>
              <li class="scroll-to-section"><a href="#pricing" data-i18n="nav.pricing"><!--pricing--></a></li>
              <li class="scroll-to-section" id="langMenu">

              </li>
              <li class="scroll-to-section">
                <div class="main-red-button-hover"><a href="#contact"
                    data-i18n="nav.contactNow"><!--Contact Us Now--></a></div>
              </li>
            </ul>

            <a href="javascript:;" class='menu-trigger'>
              <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <div class="main-banner" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="owl-carousel owl-banner">
                <div class="item header-text">
                  <h6 data-i18n="banner1.title"><!--Welcome to Anlimitid--></h6>
                  <h2 data-i18n="[html]banner1.subtitle1">
                    <!--Design <span>your</span> best <em>PCB</em> or build a <em>Website</em>.-->
                  </h2>
                  <p data-i18n="banner1.subtitle2">
                    <!--We are your solution for quality and affordable PCB design or building your website.-->
                  </p>
                  <div class="down-buttons">
                    <div class="main-blue-button-hover mb-2">
                      <a href="#pricing" data-i18n="banner1.orderNow"><!--Order Now--></a>
                    </div>
                    <div class="call-button">
                      <a
                        href="https://api.whatsapp.com/send/?phone=%2B6289680559020&text=Saya+ingin+memesan+jasa+desain+pcb+atau+membuat+web,+bagaimana+cara+ordernya+?&type=phone_number&app_absent=0"><i
                          class="fa-brands fa-whatsapp"></i> +62 896-8055-9020</a>
                    </div>
                  </div>
                </div>
                <div class="item header-text">
                  <h6 data-i18n="banner2.title"><!--Our Services--></h6>
                  <h2 data-i18n="[html]banner2.subtitle1"><!--Get the <em>Best</em> Services from <span>Us</span>-->
                  </h2>
                  <p data-i18n="banner2.subtitle2"><!--We always give the Best Services.--></p>
                  <div class="down-buttons">
                    <div class="main-blue-button-hover mb-2">
                      <a href="#services" data-i18n="banner2.ourServices"><!--Our Services--></a>
                    </div>
                    <div class="call-button">
                      <a
                        href="https://api.whatsapp.com/send/?phone=%2B6289680559020&text=Saya+ingin+memesan+jasa+desain+pcb+atau+membuat+web,+bagaimana+cara+ordernya+?&type=phone_number&app_absent=0"><i
                          class="fa-brands fa-whatsapp"></i> +62 896-8055-9020</a>
                    </div>
                  </div>
                </div>
                <div class="item header-text">
                  <h6 data-i18n="banner3.title"><!--Testimoni--></h6>
                  <h2 data-i18n="[html]banner3.subtitle1"><!--Kepercayaan <em>Pelanggan</em> kepada <span>Kami</span>-->
                  </h2>
                  <p data-i18n="banner3.subtitle2">
                    <!--Kami telah melayani lebih dari 100 pelanggan dan mereka sangat puas dengan layanan kami.-->
                  </p>
                  <div class="down-buttons">
                    <div class="main-blue-button-hover mb-2">
                      <a href="#portfolio" data-i18n="banner3.readMore"><!--Lihat Testimoni--></a>
                    </div>
                    <div class="call-button">
                      <a
                        href="https://api.whatsapp.com/send/?phone=%2B6289680559020&text=Saya+ingin+memesan+jasa+desain+pcb+atau+membuat+web,+bagaimana+cara+ordernya+?&type=phone_number&app_absent=0"><i
                          class="fa-brands fa-whatsapp"></i> +62 896-8055-9020</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="services" class="our-services section">
    <div class="services-right-dec">
      <img src="assets/images/services-right-dec.webp" alt="img">
    </div>
    <div class="container">
      <div class="services-left-dec">
        <img src="assets/images/services-left-dec.webp" alt="img">
      </div>
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading">
            <h2 data-i18n="[html]services.title">
              <!-- We <em>Provide</em> The Best Service With <span>Our Tools</span>-->
            </h2>
            <span data-i18n="services.subtitle"><!--Our Services--></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="owl-carousel owl-services">

            <div class="item">
              <h4 data-i18n="[html]services.pcb1"><!-- Learn More about our Guidelines--></h4>
              <div class="icon"><img src="assets/images/service-icon-05.webp" loading="lazy" alt="img" width="50" height="50"></div>
              <p data-i18n="[html]services.subpcb1"><!--Feel free to use this template for your business--></p>
            </div>
            <div class="item">
              <h4 data-i18n="[html]services.pcb2"><!--Develop The Best Strategy for Business--></h4>
              <div class="icon"><img src="assets/images/service-icon-06.webp" loading="lazy" alt="img" width="50" height="50"></div>
              <p data-i18n="[html]services.subpcb2"><!--Get to know more about the topic in details--></p>
            </div>
            <div class="item">
              <h4 data-i18n="[html]services.pcb3"><!--UI / UX Design and Development--></h4>
              <div class="icon"><img src="assets/images/service-icon-07.webp" loading="lazy" alt="img" width="50" height="50"></div>
              <p data-i18n="[html]services.subpcb3"><!--Get to know more about the topic in details--></p>
            </div>
            <div class="item">
              <h4 data-i18n="[html]services.pcb4"><!--Discover &amp; Explore our SEO Tips--></h4>
              <div class="icon"><img src="assets/images/service-icon-08.webp" loading="lazy" alt="img" width="50" height="50"></div>
              <p data-i18n="[html]services.subpcb4"><!--Feel free to use this template for your business--></p>
            </div>

            <div class="item">
              <h4 data-i18n="[html]services.app1"><!--Optimizing your websites for Speed--></h4>
              <div class="icon"><img src="assets/images/service-icon-01.webp" loading="lazy" alt="img" width="50" height="50"></div>
              <p data-i18n="[html]services.subapp1"><!--Get to know more about the topic in details--></p>
            </div>
            <div class="item">
              <h4 data-i18n="[html]services.app2"><!--See The Strategy In The Market--></h4>
              <div class="icon"><img src="assets/images/service-icon-02.webp" loading="lazy" alt="img" width="50" height="50"></div>
              <p data-i18n="[html]services.subapp2"><!--Get to know more about the topic in details--></p>
            </div>
            <div class="item">
              <h4 data-i18n="[html]services.app3"><!--Best Content Ideas for your pages--></h4>
              <div class="icon"><img src="assets/images/service-icon-03.webp" loading="lazy" alt="img" width="50" height="50"></div>
              <p data-i18n="[html]services.subapp3"><!--Feel free to use this template for your business--></p>
            </div>
            <div class="item">
              <h4 data-i18n="[html]services.app4"><!--Optimizing Speed for your web pages--></h4>
              <div class="icon"><img src="assets/images/service-icon-04.webp" loading="lazy" alt="img" width="50" height="50"></div>
              <p data-i18n="[html]services.subapp4"><!--Get to know more about the topic in details--></p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="about" class="about-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="left-image">
            <img src="assets/images/about-left-image.webp" alt="Two Girls working togetherr" width="656" height="545">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="section-heading">
            <h2 data-i18n="[html]about.title">
              <!-- Grow your website with our <em>SEO Tools</em> &amp; <span>Project</span> Management -->
            </h2>
            <p data-i18n="about.subtitle">
              <!-- You can browse free HTML templates on Too CSS website. Visit the website and explore latest website templates for your projects. -->
            </p>
            <div class="row">
              <div class="col-lg-4">
                <div class="fact-item">
                  <div class="count-area-content">
                    <div class="icon">
                      <img src="assets/images/tokopedia.svg" loading="lazy" alt="Tech Anlimitid" height="50" width="50">
                    </div>
                    <div class="count-digit">2500+</div>
                    <div class="count-title" data-i18n="about.transaction"><!--SEO Projects--></div>
                    <p data-i18n="about.tokopedia"><!--Lorem ipsum dolor sitti amet, consectetur.--></p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="fact-item">
                  <div class="count-area-content">
                    <div class="icon">
                      <img src="assets/images/shopee.svg" loading="lazy" alt="img" height="50" width="50">
                    </div>
                    <div class="count-digit">4000+</div>
                    <div class="count-title" data-i18n="about.transaction"><!--Websites--></div>
                    <p data-i18n="about.shopee"><!--Lorem ipsum dolor sitti amet, consectetur.--></p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="fact-item">
                  <div class="count-area-content">
                    <div class="icon">
                      <div class="count-title" data-i18n="about.rating"><!--Satisfied Clients--></div>
                    </div>
                    <div class="count-digit mb-5"><img class="icon m-2" loading="lazy" src="assets/images/star.webp"
                        alt="img">5<sub><sub>/<sub>5</sub></sub></sub></div>

                    <p data-i18n="about.subrating"><!--Lorem ipsum dolor sitti amet, consectetur.--></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="portfolio" class="our-portfolio section">
    <div class="portfolio-left-dec">
      <img src="assets/images/portfolio-left-dec.webp" alt="img">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading">
            <h2 data-i18n="[html]portfolio.title">
              <!-- Our Recent <em>Projects</em> &amp; Case Studies <span>for Clients</span> -->
            </h2>
            <span data-i18n="[html]portfolio.subtitle"><!-- Our Portfolio --></span>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="owl-carousel owl-portfolio">

            <div class="item">
              <div class="thumb img-fluid">
                <img src="assets/images/portfolio-01.svg" loading="lazy" alt="img" width="440" height="880">
                <div class="hover-effect">
                  <div class="inner-content">
                    <a href="https://www.raspberrypi.org/">
                      <h4 data-i18n="portfolio.a1"><!-- Silkscreen Top Layout --></h4>
                    </a>
                    <span data-i18n="portfolio.a2"><!-- Digital Assets --></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="thumb img-fluid">
                <img src="assets/images/portfolio-04.svg" loading="lazy" alt="img" width="440" height="880">
                <div class="hover-effect">
                  <div class="inner-content">
                    <a rel="sponsored" href="https://github.com/abaz1d/Laundry-App" target="_parent">
                      <h4 data-i18n="portfolio.b1"><!-- First Project --></h4>
                    </a>
                    <span data-i18n="portfolio.b2"><!-- Plot Listing --></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="thumb img-fluid">
                <img src="assets/images/portfolio-02.svg" loading="lazy" alt="img" width="440" height="880">
                <div class="hover-effect">
                  <div class="inner-content">
                    <a href="https://github.com/abaz1d/Laundry-App">
                      <h4 data-i18n="portfolio.c1"><!-- Sixth Project --></h4>
                    </a>
                    <span data-i18n="portfolio.c2"><!-- SEO &amp; Marketing --></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="thumb img-fluid">
                <img src="assets/images/portfolio-05.svg" loading="lazy" alt="img" width="440" height="880">
                <div class="hover-effect">
                  <div class="inner-content">
                    <a href="https://github.com/abaz1d/Laundry-App">
                      <h4 data-i18n="portfolio.d1"><!-- Project Two --></h4>
                    </a>
                    <span data-i18n="portfolio.d2"><!-- SEO &amp; Marketing --></span>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="thumb img-fluid">
                <img src="assets/images/portfolio-01.svg" loading="lazy" alt="img" width="440" height="880">
                <div class="hover-effect">
                  <div class="inner-content">
                    <a href="https://www.raspberrypi.org/">
                      <h4 data-i18n="portfolio.a1"><!-- Silkscreen Top Layout --></h4>
                    </a>
                    <span data-i18n="portfolio.a2"><!-- Digital Assets --></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="thumb img-fluid">
                <img src="assets/images/portfolio-04.svg" loading="lazy" alt="img" width="440" height="880">
                <div class="hover-effect">
                  <div class="inner-content">
                    <a rel="sponsored" href="https://github.com/abaz1d/Laundry-App" target="_parent">
                      <h4 data-i18n="portfolio.b1"><!-- First Project --></h4>
                    </a>
                    <span data-i18n="portfolio.b2"><!-- Plot Listing --></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="thumb img-fluid">
                <img src="assets/images/portfolio-02.svg" loading="lazy" alt="img" width="440" height="880">
                <div class="hover-effect">
                  <div class="inner-content">
                    <a href="https://github.com/abaz1d/Laundry-App">
                      <h4 data-i18n="portfolio.c1"><!-- Sixth Project --></h4>
                    </a>
                    <span data-i18n="portfolio.c2"><!-- SEO &amp; Marketing --></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="thumb img-fluid">
                <img src="assets/images/portfolio-05.svg" loading="lazy" alt="img" width="440" height="880">
                <div class="hover-effect">
                  <div class="inner-content">
                    <a href="https://github.com/abaz1d/Laundry-App">
                      <h4 data-i18n="portfolio.d1"><!-- Project Two --></h4>
                    </a>
                    <span data-i18n="portfolio.d2"><!-- SEO &amp; Marketing --></span>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="thumb img-fluid">
                <img src="assets/images/portfolio-01.svg" loading="lazy" alt="img" width="440" height="880">
                <div class="hover-effect">
                  <div class="inner-content">
                    <a href="https://www.raspberrypi.org/">
                      <h4 data-i18n="portfolio.a1"><!-- Silkscreen Top Layout --></h4>
                    </a>
                    <span data-i18n="portfolio.a2"><!-- Digital Assets --></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="thumb img-fluid">
                <img src="assets/images/portfolio-04.svg" loading="lazy" alt="img" width="440" height="880">
                <div class="hover-effect">
                  <div class="inner-content">
                    <a rel="sponsored" href="https://github.com/abaz1d/Laundry-App" target="_parent">
                      <h4 data-i18n="portfolio.b1"><!-- First Project --></h4>
                    </a>
                    <span data-i18n="portfolio.b2"><!-- Plot Listing --></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="thumb img-fluid">
                <img src="assets/images/portfolio-02.svg" loading="lazy" alt="img" width="440" height="880">
                <div class="hover-effect">
                  <div class="inner-content">
                    <a href="https://github.com/abaz1d/Laundry-App">
                      <h4 data-i18n="portfolio.c1"><!-- Sixth Project --></h4>
                    </a>
                    <span data-i18n="portfolio.c2"><!-- SEO &amp; Marketing --></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="thumb img-fluid">
                <img src="assets/images/portfolio-05.svg" loading="lazy" alt="img" width="440" height="880">
                <div class="hover-effect">
                  <div class="inner-content">
                    <a href="https://github.com/abaz1d/Laundry-App">
                      <h4 data-i18n="portfolio.d1"><!-- Project Two --></h4>
                    </a>
                    <span data-i18n="portfolio.d2"><!-- SEO &amp; Marketing --></span>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="testimony" class="our-videos section">
    <div class="subscribe" style="margin-bottom: -30px;">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="inner-content">
              <div class="row">
                <div class="col-lg-10 offset-lg-1" style="margin-bottom: -45px;">
                  <h2 data-i18n="testimoni.title"></h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="our-videos section mb-5">
      <div class="videos-left-dec">
        <img src="assets/images/videos-left-dec.webp" alt="img">
      </div>
      <div class="videos-right-dec">
        <img src="assets/images/videos-right-dec.webp" alt="img">
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="owl-carousel owl-portfolio">

              <div class="item carousel slide text-center carousel-dark">
                <div class="thumb">
                  <img class="mx-auto rounded-circle shadow-1-strong mb-4 border" width="50" height="50"
                    src="https://cf.shopee.co.id/file/78748ef59b6d0d62e59f26af639d0c1e_tn" loading="lazy" alt="avatar"
                    style="width: 150px;" />
                  <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                      <h5 class="mb-3">Whanes_store</h5>
                      <p><img style="height: 50px; width: auto;" width="50" height="50" src="assets/images/shopee.svg"
                          loading="lazy" alt="testimoni" class="mx-auto"></p>
                      <p class="text-muted" data-i18n="[html]testimoni.c1">

                      </p>
                    </div>
                  </div>
                  <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="fas fa-star fa-sm"></i></li>
                  </ul>
                </div>
              </div>
              <div class="item carousel slide text-center carousel-dark">
                <div class="thumb">
                  <img class="mx-auto rounded-circle shadow-1-strong mb-4 border" width="50" height="50"
                    src="https://images.tokopedia.net/img/cache/100-square/tPxBYm/2023/1/20/785ac6cb-d67b-42bd-97f8-6a06b9269130.jpg"
                    alt="avatar" loading="lazy" style="width: 150px;" />
                  <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                      <h5 class="mb-3">Hanna</h5>
                      <p><img style="height: 50px; width: auto;" width="50" height="50"
                          src="assets/images/tokopedia.svg" alt="testimoni" loading="lazy" class="mx-auto"></p>
                      <p class="text-muted" data-i18n="[html]testimoni.c4">

                      </p>
                    </div>
                  </div>
                  <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="fas fa-star fa-sm"></i></li>
                  </ul>
                </div>
              </div>
              <div class="item carousel slide text-center carousel-dark">
                <div class="thumb">
                  <img class="mx-auto rounded-circle shadow-1-strong mb-4" loading="lazy border" width="50" height="50"
                    src="https://cf.shopee.co.id/file/78c515de867bf79779a1e7bbbf470b3d_tn" alt="avatar"
                    style="width: 150px;" />
                  <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                      <h5 class="mb-3">Gammaalthafiansyahr</h5>
                      <p><img style="height: 50px; width: auto;" width="50" height="50" src="assets/images/shopee.svg"
                          alt="testimoni" loading="lazy" class="mx-auto"></p>
                      <p class="text-muted" data-i18n="[html]testimoni.c2">

                      </p>
                    </div>
                  </div>
                  <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="fas fa-star fa-sm"></i></li>
                  </ul>
                </div>
              </div>

              <div class="item carousel slide text-center carousel-dark">
                <div class="thumb">
                  <img class="mx-auto rounded-circle shadow-1-strong mb-4" loading="lazy border" width="50" height="50"
                    src="https://images.tokopedia.net/img/cache/100-square/default_v3-usrnophoto.png.webp?ect=4g"
                    alt="avatar" style="width: 150px;" />
                  <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                      <h5 class="mb-3">Goenawan</h5>
                      <p><img style="height: 50px; width: auto;" width="50" height="50"
                          src="assets/images/tokopedia.svg" loading="lazy" alt="testimoni" class="mx-auto"></p>
                      <p class="text-muted" data-i18n="[html]testimoni.c3">

                      </p>
                    </div>
                  </div>
                  <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="fas fa-star fa-sm"></i></li>
                  </ul>
                </div>
              </div>

              <div class="item carousel slide text-center carousel-dark">
                <div class="thumb">
                  <img class="mx-auto rounded-circle shadow-1-strong mb-4" loading="lazy border" width="50" height="50"
                    src="https://cf.shopee.co.id/file/bfa54f375fd39d2ceb75b0d442844e07_tn" alt="avatar"
                    style="width: 150px;" />
                  <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                      <h5 class="mb-3">Whanes_store</h5>
                      <p><img style="height: 50px; width: auto;" width="50" height="50" src="assets/images/shopee.svg"
                          loading="lazy" alt="testimoni" class="mx-auto"></p>
                      <p class="text-muted" data-i18n="[html]testimoni.c5">

                      </p>
                    </div>
                  </div>
                  <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="fas fa-star fa-sm"></i></li>
                  </ul>
                </div>
              </div>

              <div class="item carousel slide text-center carousel-dark">
                <div class="thumb">
                  <img class="mx-auto rounded-circle shadow-1-strong mb-4" loading="lazy border" width="50" height="50"
                    src="https://images.tokopedia.net/img/cache/100-square/default_picture_user/default_toped-15.jpg"
                    alt="avatar" style="width: 150px;" />
                  <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                      <h5 class="mb-3">Ahmad</h5>
                      <p><img style="height: 50px; width: auto;" width="50" height="50"
                          src="assets/images/tokopedia.svg" loading="lazy" alt="testimoni" class="mx-auto"></p>
                      <p class="text-muted" data-i18n="[html]testimoni.c6">

                      </p>
                    </div>
                  </div>
                  <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="fas fa-star fa-sm"></i></li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="pricing" class="pricing-tables">
    <div class="tables-left-dec">
      <img src="assets/images/tables-left-dec.webp" alt="img">
    </div>
    <div class="tables-right-dec">
      <img src="assets/images/tables-right-dec.webp" alt="img">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading">
            <h2 data-i18n="[html]price.title">
            </h2>
            <span data-i18n="price.subtitle"></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-5">
          <div class="item second-item">
            <h4 data-i18n="price.pcb1"></h4>
            <p data-i18n="price.start"></p>
            <em data-i18n="[html]price.pcb2"></em>
            <span data-i18n="[html]price.pcb3"></span>
            <ul data-i18n="[html]price.pcb4">
            </ul>
            <div class="main-blue-button-hover">
              <a data-i18n="price.beli" href="#"></a>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="item third-item">
            <h4 data-i18n="price.app1"></h4>
            <p data-i18n="price.start"></p>
            <em data-i18n="[html]price.app2"></em>
            <span data-i18n="[html]price.app3"></span>
            <ul data-i18n="[html]price.app4">
            </ul>
            <div class="main-blue-button-hover">
              <a data-i18n="price.beli" href="#"></a>
            </div>
          </div>
        </div>
        <div class="col-lg-1">
        </div>
      </div>
    </div>
  </div>

  <div id="contact" class="contact-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="section-heading">
            <h2 data-i18n="[html]maps.title">
            </h2>
            <div id="map">
              <iframe title="maps"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3960.1751001481994!2d110.4791772!3d-6.988645600000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e708db2345047e7%3A0x73786fddf3aa2b5e!2sJasa%20Desain%20PCB!5e0!3m2!1sid!2sid!4v1676806765180!5m2!1sid!2sid"
                width="100%" height="360px" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="info">
              <span><i class="fa-brands fa-whatsapp"></i> <a
                  href="https://api.whatsapp.com/send/?phone=%2B6289680559020&text=Saya+ingin+memesan+jasa+desain+pcb+atau+membuat+web,+bagaimana+cara+ordernya+?&type=phone_number&app_absent=0"
                  aria-label="wa">WhatsApp<br>+62 896-8055-9020</a></span>
              <span><i class="fa-solid fa-envelope"></i> <a href="mailto:anlimitidpcb@gmail.com"
                  aria-label="email">Email<br>anlimitidpcb@gmail.com</a></span>
            </div>
          </div>
        </div>
        <div class="col-lg-5 align-self-center">
          <form id="contact" action="mailto:anlimitidpcb@gmail.com" method="get">
            <div class="row">
              <div class="col-lg-12">
                <fieldset>
                  <input type="name" name="name" id="name" placeholder="Name" autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <input type="Addres" name="Addres" id="Addres" placeholder="Addres" autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <input type="text" name="email" id="email1" pattern="[^ @]*@[^ @]*" placeholder="Your Email"
                    required="">
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <input type="text" name="Explanation" id="Explanation" placeholder="Your Explanation" required="">
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <button data-i18n="maps.send" type="submit" id="form-submit1" class="main-button"></button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="contact-dec">
      <img src="assets/images/contact-dec.webp" alt="img">
    </div>
    <div class="contact-left-dec">
      <img src="assets/images/contact-left-dec.webp" alt="img">
    </div>
  </div>

  <div class="footer-dec">
    <img src="assets/images/footer-dec.webp" width="50" height="100" alt="img">
  </div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="about footer-item">
            <div class="logo">
              <a href="mailto:anlimitidpcb@gmail.com"><img src="assets/images/logo.png" loading="lazy" height="50" width="50"
                  alt="Tech Anlimitid"></a>
            </div>
            <a href="mailto:anlimitidpcb@gmail.com">anlimitidpcb@gmail.com</a>
            <ul>
              <li><a aria-label="wa"
                  href="https://api.whatsapp.com/send/?phone=%2B6289680559020&text=Saya+ingin+memesan+jasa+desain+pcb+atau+membuat+web,+bagaimana+cara+ordernya+?&type=phone_number&app_absent=0"><i
                    class="fa-brands fa-whatsapp"></i></a></li>
              <li><a aria-label="email" href="mailto:anlimitidpcb@gmail.com"><i class="fa-regular fa-envelope"></i></a>
              </li>
              <li><a aria-label="instagram" href="https://www.instagram.com/anlimitidpcb/"><i
                    class="fa-brands fa-instagram"></i></a></li>
              <li><a aria-label="youtube" href="https://youtube.com/@nongkrongmasakini"><i
                    class="fa-brands fa-youtube"></i></a></li>
              <li><a aria-label="maps" href="https://maps.app.goo.gl/wkhwcmoFGHcy6KN89"><i
                    class="fa-solid fa-location-dot"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="services footer-item">
            <h4 data-i18n="services.subtitle"></h4>
            <ul>
              <li><a data-i18n="[html]price.pcb1" href="#"></a></li>
              <li><a data-i18n="price.app1" href="#"></a></li>

            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="community footer-item">
            <h4 data-i18n="our"></h4>
            <ul>
              <li><a href="https://www.linkedin.com/in/muhammad-dimas-suraji-2105161b1/">M Dimas Suraji</a></li>
              <li><a href="https://www.linkedin.com/in/abaz-id/">Abdul Aziz</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="subscribe-newsletters footer-item">
            <h4 data-i18n="faq.title"></h4>
            <p data-i18n="faq.subtitle"></p>
            <form action="mailto:anlimitidpcb@gmail.com" method="get">
              <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email" required="">
              <fieldset>
                <button type="submit" id="form-submit2" name="form-submit2" class="main-button "><i
                    class="fa-solid fa-paper-plane"></i><!--About--></button>
              </fieldset>
            </form>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="copyright">
            <p data-i18n="[html]copyright">

            </p>
          </div>
        </div>

      </div>
    </div>
  </footer>


  <!-- Scripts -->
  <script src="assets/js/i18next-jquery.min.js" defer></script>
  <script src="assets/js/i18next.min.js" defer></script>
  <script src="assets/js/i18nextBrowserLanguageDetector.min.js" defer></script>
  <script src="vendor/jquery/jquery.min.js" defer></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js" defer></script>
  <script src="assets/js/owl-carousel.js" defer></script>
  <script src="assets/js/animation.js" defer></script>
  <script src="assets/js/imagesloaded.js" defer></script>
  <script src="assets/js/custom.js" defer></script>
  <script src="assets/js/localization.js" defer></script>
</body>

</html>